<div class="container">
    <div class="contact">
        <h1>simon, balázs</h1>
        <p><em>intern,</em> front-end developer @ <a href="https://www.linkedin.com/company/itroninc">Itron</a></p>
        <p><em>MA,</em> visual communication</p>
        <p><em>BSc,</em> business IT</p>
        <br>
    </div>
    
    <div class="profile">
        <img src="../assets/profile.jpg" width="100px"> <br>
        <div class="contacts">
            <a href="https://www.linkedin.com/in/simonbalaazs/">linkedin</a> <br>
            <a href="https://www.behance.net/simonbalazs">behance</a> <br>
        </div>
    </div>
</div>

<h1>works</h1>