/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat&display=swap");

$break-large: 960px;

body {
    background-color: #fdfdfd;
    margin: auto;
    max-width: 960px;

    @media screen and (max-width: $break-large) {
        max-width: 100%;
        margin: 10%;        
    }
}

a {
    font-size: 20px;
    font-family: 'Cardo', serif;
    color: #242424;
    text-decoration: underline;
}

a:visited {
    font-size: 20px;
    font-family: 'Cardo', serif;
    color: #242424;
}        

a:hover {
    font-size: 20px;
    font-family: 'Cardo', serif;
    // color: #2B36FF;
    text-decoration: none;
    font-weight: bold;
}